<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자 정보 입력</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>사용자 정보 입력</h1>
    <form action="{{ url_for('index') }}" method="POST">
        <label for="gender">성별:</label>
        <input type="text" id="gender" name="gender" placeholder="남자, 여자 중 하나로 입력" required><br>
        <label for="age">나이:</label>
        <input type="number" id="age" name="age" placeholder="숫자만 입력" required><br>
        <label for="height">키 (cm):</label>
        <input type="number" id="height" name="height" placeholder="숫자만 입력" required><br>
        <label for="weight">몸무게 (kg):</label>
        <input type="number" id="weight" name="weight" placeholder="숫자만 입력" required><br>
        <label for="pa_level">활동 수준:</label>
        <select id="pa_level" name="pa_level" required>
            <option value="1">1: 비활동적</option>
            <option value="2">2: 저활동적</option>
            <option value="3">3: 활동적</option>
            <option value="4">4: 매우 활동적</option>
        </select><br>
        
        <h3>질병 유무:</h3>
        <label for="disease_hypertension">고혈압:</label>
        <input type="checkbox" id="disease_hypertension" name="disease_hypertension" value="유"><br>
        <label for="disease_diabetes">당뇨병:</label>
        <input type="checkbox" id="disease_diabetes" name="disease_diabetes" value="유"><br>
        <label for="disease_stomach_cancer">위암:</label>
        <input type="checkbox" id="disease_stomach_cancer" name="disease_stomach_cancer" value="유"><br>
        <label for="disease_colon_cancer">대장암:</label>
        <input type="checkbox" id="disease_colon_cancer" name="disease_colon_cancer" value="유"><br>
        <label for="disease_hyperlipidemia">고지혈증:</label>
        <input type="checkbox" id="disease_hyperlipidemia" name="disease_hyperlipidemia" value="유"><br>
        <label for="disease_osteoporosis">골다공증:</label>
        <input type="checkbox" id="disease_osteoporosis" name="disease_osteoporosis" value="유"><br>

        <button type="submit">제출</button>
    </form>
</body>
</html>
<!--  -->